<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
</head>
<body>
	<!-- Sign-in form -->

	<div class="form container">
		<form id="sign-in-form">
			<input id="email" type="email" name="" placeholder="Email">
			<input id="password" type="password" name="" placeholder="Password">
			<button class="button" id="sign-in">Sign-In</button>
		</form>
	</div>

</body>