<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
</head>
<body>

<!-- Header -->
	<div class="header container">
		<h1>Watch This!</h1>
	</div>

	<!-- Registration Form -->

	<div class="registration container">
		<form id="registration-form">
			<input type="email" name="" placeholder="yourEmail@email.com">
			<input id="regPassword" type="password" placeholder="Password">
			<input type="password" name="" placeholder="Retype Password">
			<input id="firstName" type="text" placeholder="First Name">
			<input id="lastName" type="text" placeholder="Last Name">			
			<button class="button" id="register">Register</button>
		</form>
	</div>

</body>	