<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Watch This!</title>
</head>
<body>

<!-- Header -->
	<div class="header container">
		<h1>Watch This!</h1>
	</div>

<!-- Registration Form -->

	<div class="registration container">
		<form id="registration-form">
			<input id="email" type="email" name="email" placeholder="yourEmail@email.com">
			<input id="regPassword" type="password" name="password" placeholder="Password">
			<input type="password" name="password2" placeholder="Retype Password">
			<input id="firstName" type="text" name="firstName" placeholder="First Name">
			<input id="lastName" type="text" name="lastName" placeholder="Last Name">
			<button class="button" id="register" type="submit">Register</button>
		</form>
	</div>

<!-- Footer -->

	<footer class="container">
		<p>Built by Steve Brown</p>
	</footer>

<!-- Scripts -->

	<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  	let ENV = <%- JSON.stringify(env) %>;
  </script>
  <script type="text/javascript" src="./index.js"></script>
</body>
</html>	